# Import pandas and read in the Salaries csv file and set it to a DataFrame called df_sal.

In [1]:
import pandas as pd
import numpy as np
print("DONE")

DONE

In [2]:
df_sal = pd.read_csv("salaries.csv")

# How many rows and columns are there?

In [3]:
df_sal.shape

(148654, 13)

# What is the average BasePay?

In [4]:
df_sal["BasePay"].mean()

66325.4488404877

# What is the highest amount of OvertimePay in the dataset ?

In [5]:
df_sal["OvertimePay"].max()

245131.88

# What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). ?

In [6]:
df_sal[df_sal["EmployeeName"]=="JOSEPH DRISCOLL"]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

# How much does JOSEPH DRISCOLL make (including benefits)?

In [7]:
df_sal[df_sal["EmployeeName"]=="JOSEPH DRISCOLL"]["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

# What is the name of highest paid person (including benefits)?

In [8]:
df_sal["TotalPayBenefits"].max()
df_sal[df_sal["TotalPayBenefits"]==567595.43]["EmployeeName"]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

## What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?

In [9]:
df_sal["TotalPayBenefits"].min()
df_sal[df_sal["TotalPayBenefits"]==-618.13]["EmployeeName"]

148653    Joe Lopez
Name: EmployeeName, dtype: object

## What was the average (mean) BasePay of all employees per year? (2011-2014) ?2

In [10]:
df_sal.groupby("Year").mean()["BasePay"]

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

## What are the top 5 most common jobs?

In [11]:
df_sal["JobTitle"].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

## How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurrence in 2013?)

In [12]:
(df_sal[df_sal['Year']==2013]['JobTitle'].value_counts()==1).sum()

202