In [1]:
import pandas as pd

In [2]:
music_df = pd.read_csv('music.csv')

In [3]:
music_df.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [4]:
len(music_df)

18

In [5]:
X = music_df.drop(columns=['genre'])
X.head()

   age  gender
0   20       1
1   23       1
2   25       1
3   26       1
4   29       1

In [6]:
y = music_df['genre']
y.head()

0    HipHop
1    HipHop
2    HipHop
3      Jazz
4      Jazz
Name: genre, dtype: object

In [7]:
from sklearn.tree import DecisionTreeClassifier

In [8]:
model = DecisionTreeClassifier()

In [9]:
model.fit(X,y)

DecisionTreeClassifier()

In [10]:
testing_data_set = [[21, 1], [22, 0]]
predictions = model.predict(testing_data_set)
predictions

array(['HipHop', 'Dance'], dtype=object)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [13]:
len(X_train)

14

In [14]:
len(X_test)

4

In [15]:
model = DecisionTreeClassifier()

In [16]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [17]:
X_test.head()

    age  gender
2    25       1
17   35       0
5    30       1
0    20       1

model.fit(X_train, y_train)

In [18]:
predictions = model.predict(X_test)
predictions

array(['HipHop', 'Classical', 'Jazz', 'HipHop'], dtype=object)

In [19]:
from sklearn.metrics import accuracy_score

In [20]:
score = accuracy_score(y_test, predictions)
score

1.0

In [21]:
from sklearn.metrics import classification_report, confusion_matrix

In [22]:
print(confusion_matrix(y_test, predictions))

[[1 0 0]
 [0 2 0]
 [0 0 1]]

In [23]:
import pickle
with open('music_recommender_system', 'wb') as f:
    pickle.dump(model, f)

In [24]:
with open('music_recommender_system', 'rb') as f:
    model = pickle.load(f)

In [25]:
preictions  = model.predict(X_test)
predictions

array(['HipHop', 'Classical', 'Jazz', 'HipHop'], dtype=object)

In [26]:
preictions  = model.predict(testing_data_set)
predictions

array(['HipHop', 'Classical', 'Jazz', 'HipHop'], dtype=object)

In [27]:
from sklearn import tree
tree.export_graphviz(model, out_file='music_recommender_system.dot',
                    feature_names=['age', 'gender'],
                    class_names=sorted(y.unique()),
                    label='all',
                    rounded=True,
                    filled=True)